@{
    ViewBag.Title = "Programme";
}

<div class="container">
    <h2>Programme</h2>
    <hr />
</div>



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#programme-menu').addClass('active');
        });
    </script>
}