body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*Alyssa's Css*/

.navbar-default {
    background-image: none !important;
    box-shadow: none !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

header,
footer,
.container {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    font-size: 18px;
}

footer .container {
    font-size: 15px;
}

footer {
    background-color: #2D3235;
    color: #f3f5f5;
    border-top: 2px solid #222222;
}

.border-bottom {
    border-bottom: 1px solid #dadfe1;
}

.background-light-gray {
    background-color: #f6f7f8;
}

.jesus-is-the-lord {
    padding: 40px 0;
}

.one-way-jesus {
    padding-bottom: 40px;
}

.text-center {
    text-align: center;
}

.float-right {
    float: right !important;
}

/*Menu*/
.navbar .navbar-brand img{
    width: 150px;
}

.navbar ul {
    padding-top: 20px;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar-default .navbar-nav > .active > a {
    color: #333333 !important;
    background: none !important;
    box-shadow: none !important;
    text-decoration: overline;
}


/*Home Page*/
.home-page .item {
    height: 500px;
}

/*Staff*/

.training-team {
    text-align: center;
}

.training-team img {
    width: 100%;
}

/*Contact Us*/
.google-map iframe {
    width: 100%;
}

.map_canvas {
    width: 80%;
    height: 400px;
    background-color: #cccccc;
}

.email-form div {
    padding: 5px 0;
}

.send-button {
    margin-bottom: 25px;
    float: right;
}


@media(max-width: 767px) {
    .navbar .navbar-brand img {
        width: 87px;
    }
}