@{
    ViewBag.Title = "Staff";
}

<div class="container">
    <h2>Staff</h2>
    <hr />
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#staff-menu').addClass('active');
        });
    </script>
}