@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        How long will it take to see results?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    You will begin to notice results in your strength and quality of life almost immediately. Visually you will start to see good results in 4 weeks, great results in 8 weeks and fantastic results in 12 weeks. Most of our weight loss clients are able to lose a kilo or more per week. When we get together for a chat we will take you through how long it will take you to achieve results.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        What if I do not enjoy it?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    That is great! You are one step closer to finding a place where you will achieve your goals.…Come in for a gift session and for a chat and we believe that by experiencing what we do that you will know whether @@FIT is for you.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        Why do you not dress like other trainers?
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Great question! We are sick of seeing trainers who dress in t shirts, singlet’s, shorts and who are texting on their mobile during YOUR session. We are professional, your session is about you, we are professionals who know our stuff, and so that’s how we dress. We are professionals and our goal is to help you achieve yours.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        How do I get started?
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    We love your enthusiasm! What would be best is to put through your details on the home page or give us a call directly on 021 545 003 so that we can organise a time to get together and chat about your goals. We would love to have a chat with you in person, so you can really make sure that @@FIT is the right place for you.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                        What do you do in the complimentary session?
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        In the complimentary session
                    </p>
                    <p>
                        •	Will sit down and have a chat about your goals. We will look at where you are now, where you want to be - and create a action plan to get you there that fits into your life (not the other way round!!)
                    </p>
                    <p>
                        •	You will get to know your trainer, see our studio and most importantly get a feel as to whether it is the right place for you to achieve your goals!
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                        Are there any catches to the complimentary session?
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    Absolutely not! We want you to know that @@FIT is the right place for you to achieve your goals, and if you do not feel that way - we do not believe that we can help you. The gift session will leave you with an action plan to get where you want to be.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                        Do I have to have a training session at the complimentary session?
                    </a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    This is up to you and what you work out with your trainer! We have some clients who prefer to have a coffee and chat and then book a training session later. And we also have some clients who really want to see what the training is all about. Please chat to your trainer and work out the very best option for you!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                        Do I need to bring anything along?
                    </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    Just bring yourself and a positive attitude!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                        How can I train once per week and get great results?
                    </a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                    Sounds too good to be true! We agree and it is! Training at @@FIT you can achieve fantastic results in as little as 40 minutes per week. Come in and experience it for yourself!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                        Do you train people at all times during the day?
                    </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Typically we train people from the very early hours of the morning (6 am) right through to around 9pm in the evening. Trainer’s schedules vary so if you pop your details on the book a gift session page and let us know the best time for you to train one of our trainers will give you a call to let you know if that time is available!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                        Will sit-ups help me get abs? 
                    </a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    What a great question!  In short –sit-ups will NOT (even hundreds and thousands each day) help you get that six-pack.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
                        What can I expect when I walk in the door?
                    </a>
                </h4>
            </div>
            <div id="collapseTwelve" class="panel-collapse collapse">
                <div class="panel-body">
                    @@FIT is a small friendly studio with lots of laughs and a home away from home for our clients. We have a people culture, our clients all know each other and the trainers know all of the clients.  Every one trains with their own trainer so you will have 100% attention to help you kick your goals.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">
                        Do I have to undertake a minimum number of sessions? 
                    </a>
                </h4>
            </div>
            <div id="collapseThirteen" class="panel-collapse collapse">
                <div class="panel-body">
                    No you do not – however if you wish to get some great results and learn how to train and eat in a way you can continue for the rest of your life expect to train for at least 12 weeks! If you give us 6 months – we can give you a new you!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">
                        Should women lift weights?
                    </a>
                </h4>
            </div>
            <div id="collapseFourteen" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes and YES!  Lies, myths and fallacies of the fitness profession! Ladies you should absolutely lift weights and experience the great benefits that strength training has to offer.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">
                        Do you help me with my food and my eating?
                    </a>
                </h4>
            </div>
            <div id="collapseFifteen" class="panel-collapse collapse">
                <div class="panel-body">
                    If you would like help with that then yes we do! Our goal is to help you to create a long term eating plan that means you can stay in shape forever, and never have to diet. We will teach you all about food and how to eat all of your favorite foods whilst still achieving your goals. The goal of @@FIT is to educate you on eating and exercise so that ultimately you can do it without us. And also so that you can apply that information for the rest of your life. What good is it being in shape for a particular event or a couple of months. How about getting the results and keeping them! That is what we are all about!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">
                        Why not just go to the gym?
                    </a>
                </h4>
            </div>
            <div id="collapseSixteen" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        @@FIT is a personal training studio. Everyone who trains here trains with their trainer. We are a small, private, friendly studio where everyone knows you name and have a community of people who are on track to achieving their goals and having fun along the way.
                    </p>
                    <p>
                        There are no gym goers training on their own, no big crowds,  no complicated training equipment or boring time consuming programs. In fact if you prefer the atmosphere of a big gym and bigger crowds we would encourage you to join one of the many fantastic gyms in New Zealand. Our clients train one on one with a trainer, in a small private boutique environment, meaning that the only FOCUS of your session is YOU – What does this mean...RESULTS for you, achieved in a fun non intimidating atmosphere!
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">
                        Is my trainer qualified?
                    </a>
                </h4>
            </div>
            <div id="collapseSeventeen" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes - Absolutely! All @@FIT trainers are REPS registered All our trainers know their stuff!
                </div>
            </div>
        </div>
    </div>
</div>
